<%- include('../partials/adminHeader') %> <%-
include('../partials/adminSidebar') %>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Table</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">General</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-7">
        <div class="card">
          <div class="card-body p-2">
            <table id="example" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>No Table</th>
                  <th>Status Table</th>
                  <th>Kapasitas</th>
                  <th>Action</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tambah Table</h5>

            <form id="formAdd">
              <div class="row mb-3">
                <div class="col-lg-12">
                  <label for="inputText" class="col-sm-3 col-form-label"
                    >No Table</label
                  >
                  <input type="text" class="form-control" id="inputTable" />
                </div>
                <div class="col-lg-12">
                  <label for="inputText" class="col-sm-3 col-form-label"
                    >Kapasitas</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="inputCapacity"
                  />
                </div>
                <div class="col-lg-12 mt-3">
                  <label class="col-sm-3 col-form-label">Availability</label>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="availability"
                      id="availableRadio"
                      value="1"
                      checked
                    />
                    <label class="form-check-label" for="availableRadio">
                      Tersedia
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="availability"
                      id="unavailableRadio"
                      value="0"
                    />
                    <label class="form-check-label" for="unavailableRadio">
                      Tidak Tersedia
                    </label>
                  </div>
                </div>
                <div class="col-lg-12 mt-3">
                  <button type="submit" class="btn btn-danger">submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function () {
    $("#example").DataTable({
      ajax: {
        url: "/admin/api/tableList",
        type: "GET",
      },
      columns: [
        {
          data: null,
          render: function (data, type, row, meta) {
            // Mengambil nomor urut baris
            var rowIndex = meta.row + meta.settings._iDisplayStart + 1;
            return rowIndex;
          },
        },
        { data: "no_table" },
        { data: "statusTable" },
        { data: "capacity" },
        {
          data: "id_table",
          render: function (data, type, row) {
            var foodId = row.id; // Mengambil ID food dari data baris

            // Tombol Hapus
            var deleteButton =
              '<button class="btn btn-outline-secondary delete-table-btn" data-table-id="' +
              data +
              '"><i class="bi bi-trash-fill"></i></button>';

            return deleteButton;
          },
        },
      ],
    });
  });

  $(document).ready(function () {
    $("#formAdd").submit(function (event) {
      event.preventDefault();
      var tableInput = $("#inputTable").val();
      var capacityInput = $("#inputCapacity").val();
      var availability = $("input[name='availability']:checked").val();

      if (!tableInput || !capacityInput) {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "Form tidak boleh kosong",
        });
      } else {
        fetch("/admin/api/createTable", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            no_table: tableInput,
            statusTable: availability,
            capacity: capacityInput,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.statusCode === 200) {
              Swal.fire("Good job!", "Data berhasil ditambah", "success");
            }
            $("#example").DataTable().ajax.reload();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    });
  });

  $("#example").on("click", ".delete-table-btn", function () {
    var tableId = $(this).data("table-id");
    // Mengirim permintaan penghapusan menggunakan fetch atau AJAX
    fetch("/admin/api/deletetable/" + tableId, {
      method: "DELETE",
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        // Handle respon dari server (berhasil atau gagal)
        if (data.statusCode === 200) {
          Swal.fire("Good job!", "Data berhasil dihapus", "success");
        }

        // Lakukan tindakan lain jika diperlukan
        // Misalnya, refresh tabel atau tampilkan notifikasi
        $("#example").DataTable().ajax.reload();
      })
      .catch((error) => {
        // Tangani kesalahan jika terjadi
        if (error.statusCode === 400) {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Something went wrong!",
          });
        }
        console.error(error);
      });
    console.log(catId);
  });
</script>
<%- include('../partials/adminFooter') %>
